body {
  font-family: 'Crimson Text', serif;
  background: linear-gradient(45deg, #26acebd5, #d47a25da);
  background-attachment: fixed;
  margin: 0em;
  padding: 0em;
}

.navbar{
  background-color: #000000;
  padding: 0 3em;
}

.page{
  margin: 0 3em;
}

.image {
  border-style: solid;
  border-color: rgb(223, 223, 223);
}

.embedly-card {
  height: 20em;
  background-image: linear-gradient(#4e4e4e, #252525);
  border-radius: 5px;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@media screen and (max-width: 769px){
  #headshot{
    content: url("/public/Rowe_Headshot.jpg")
  }
  .embedly-card {
    height: 25em;
  }
}
